// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.required {
  color: #f00;
}

.inline-block {
  display: inline-block;
}

.no-border {
  border: none;
}

.no-box-shadow {
  box-shadow: none;
}

.no-underline {
  text-decoration: none;
}

.no-padding-x {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-y {
  padding-top: 0;
  padding-bottom: 0;
}

.no-radius {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

#photo_container {
  #photo_box {
    position: relative;
    display: inline-block;
    border: 1px solid #000000;
    cursor: pointer;

    img#photo_preview {
      height: 192px;
    }
  }
}

.form-view {
  .form-control {
    border-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.custom-cbrd {
    top: 15px;
    z-index: 9;
    left: 10px;
}

.arrow-up {
    color: #169F85;
    position: relative;
    bottom: -10px;
}

.arrow-down {
    color: #d43f3a;
    position: relative;
    top: -2px;
}

.underline-link {
    text-decoration: underline;
    color: blue;
}

select[multiple], select[size] {
    height: 38px;
}

// Select2 - make it readonly (not disabled!)
// https://stackoverflow.com/a/45609356/10174865
select[readonly].select2 + .select2-container {
  pointer-events: none;
  touch-action: none;

  .select2-selection {
    background: #eee;
    box-shadow: none;
  }

  .select2-selection__arrow,
  .select2-selection__clear {
    display: none;
  }
}
